* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  color: #fff;
  background-color: #ff3f34;
  padding: 100px 0px;
  text-align: center;
}

.brand-icon {
  font-size: 85px;
  margin-right: 5px;
}

.searchtext {
  width: 50%;
  margin: auto;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cardstyle {
  background-color: #ff3f34;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card {
  background-color: dark;
}
